/******************************************************************************
    Initial styles    
*/

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&display=swap');
/* font-family: 'IBM Plex Mono', monospace; */



/******************************************************************************
    Initial styles    
*/
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/******************************************************************************

*/
body {
    background: black;
}

ul {
    list-style: none;
    text-align: center;
}


/******************************************************************************

*/
#main li {
    display: inline-block;
    min-width: 70vmin;
    padding: 6vmin;
    margin: 3vmin 2vmin;
    box-shadow: 0 0 10px white;
    border-radius: 2vmin;
    transition: 0.5s;
}

#main a {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 0 0 40px white;
}

#main li:nth-of-type(1) {
    background: url(../img/matrix-small.jpg) center/cover no-repeat;
}
#main li:nth-of-type(2) {
    background: url(../img/git.png) left/contain no-repeat, #0d1117;
}

#main li:nth-of-type(1) a {
    font-family: 'IBM Plex Mono', monospace;
    color: lightgreen;
}

#main li:nth-of-type(2) a {
    font-family: 'IBM Plex Mono', monospace;
    color: silver;  
}

#main li:hover {
    transform: 5px 5px;
    box-shadow: 0px 0px 30px white;
    transition: 1s;
}